.img-expanded {
  margin-top: 8px;
}

.sort-select {
  margin-top: 10px;
}

@media (max-width: 992px) {
  .filter-row {
    display: flex;
    flex-direction: column;
  }

  .filter-row .data-type-select, .filter-row .listing-type-select {
    width: 50%;
  }

  .filter-row > * + * {
    margin-top: 8px;
  }

  /* Make minimum text size for inputs 16px so it doesn't zoom in on mobile iOS */

  input, textarea, .custom-select-sm, select {
    font-size: 16px !important;
  }
}

/* make sure long titles get broken up so they don't break mobile layout */
a.text-body {
  word-break: break-word;
}

@media (min-width: 992px) {
  .container {
    max-width: 100%;
  }

  aside.sidebar {
    max-width: 400px;
  }

  main[role="main"] {
    flex: 1;
    width: 100%;
    max-width: 100%;
  }

  .thumbnail-wrapper {
    max-width: 100px;
  }
}

.post-content {
  flex: 1;
}

.vote-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30px;
  box-sizing: content-box;
  padding-left: 15px;
  padding-right: 15px;
}

.sidebar-content {
  max-width: 400px;
  flex: 1;
  padding: 0 15px;
}

.main-content {
  /* display: flex; */
  flex: 1;
  width: 100%;
  max-width: 100%;
}

.post-listing-body {
  /* border: 1px solid #444; */
  /* padding: 8px; */
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 800px;
  /* color:  #999999; */
}

@media (min-width: 768px) {
  .post-listing-body {
    border: 1px solid #444;
    padding: 8px;
  }

  .navbar-right {
    display: flex;
    align-items: center;
  }
  .navbar-right .nav-link {
    padding: 0;
  }

  .navbar-right .nav-icon {
    line-height: 1px;
  }

}

.image-upload-icon {
  font-size: 24px;
}

.comment-expand-button {
  margin-top: -3px;
}

@media (max-width: 768px) {
  .image-upload-icon {
    font-size: 40px;
  }

  .comment-expand-button {
    font-size: 16px
  }
}

/* images that are children of comment text that are children of
 elements with class comment-text-container */
 /*nonworking, TODO: remove references*/
.comment-text-container > p * img {
  max-width: 300px;
  max-height: 300px;
}

.notification-text-container {
  max-width: 300px;
}

.notification-text-container p {
  overflow: hidden;
  max-height: 400px;
  display: -webkit-box;
  -webkit-line-clamp: 4; /*max 4 lines*/
  -webkit-box-orient: vertical;
}

.notification-text-container img {
  max-height: 96px;
  max-width: 96px;
  padding: 3px;
  display: block;
}

.post-body-expand-button {
  background-color: transparent;
  border: 0;
  box-shadow: 0;
  width: 100%;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.welcome-content {
  width: 100%;
  max-width: 750px;
  padding: 10px;
}

.welcome-content > form {
  width: 100%;
}

.welcome-logo {
  max-width: 300px;
}

.navbar-toggler {
  border: 0;
}

@media (max-width: 768px) {
  .btn {
    padding: 0.5rem 1.5rem;
    font-size: 16px;
  }

  .filter-row {
    margin-top: -10px;
  }

  .filter-row .btn-group {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(68, 68, 68, 0.4);
  }

  .filter-row .listing-type-select {
    display: flex;
    margin-top: -14px;
    width: calc(100% + 30px);
    margin-right: -15px !important;
    margin-left: -15px;
  }

  .listing-type-select .btn-group {
    width: 100%;
  }

  .filter-row .listing-type-select .btn {
    background-color: transparent;
    border: 0;
  }

  .user-view-toggle {
    overflow: auto;
  }
}

.about-container {
  max-width: 700px;
  margin: 0 auto;
}

.about-body {

  padding: 0 30px;
}

.about-header {
  display: flex;
  justify-content: center;;
}

.navbar-brand {
  margin-right: 0.5em;
}

.logo {
  max-width: 300px;
  width: 100%;
}

.comment-image {
  display: block;
  max-width: 256px;
  max-height: 256px;
}

.notification-image {
  max-width: 96px;
  max-height: 96px;
}

.comment-node {
  padding: 0.5rem;
  border-top-color: #303030 !important;
}

.community-header {
  display: flex;
  background-color: #1D1D1D;
  margin-top: -1.5rem;
  margin-bottom: 1rem;
  height: 74;
  width: 100%;
  padding: 5px;
  flex-wrap: wrap;
  /*justify-content: center;*/
}

.header-names {
  padding-top: 5px;
  padding-left: 15px;
  /* width: 55vw; */
}

.header-names h4 {
  font-weight: 900;
  font-size: 24px;
  margin: 0;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-names h6 {
  color: #C0C5D8;
  padding-top: 3px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.community-stat-section {
  display: flex;
}

.community-button-separator {
  border-right: 3px solid #323232;
  margin: 0 15px;
  height: 40px;
}

@media only screen and (max-width: 992px) {
  .community-header, .top-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-right-section {
    justify-content: space-between;
    width: 100%;
  }

  .community-stat-section {
    width: 50%;
  }

  .header-names {
    padding-left: 25px;
  }

  .community-button-separator {
    border-right: 0;
    margin: 0 7.5px;
  }
}

.header-right-section {
  display: flex;
  align-items: center;
  padding: 15px 25px;
}

.subscribe-button {
  padding: 8px 15px;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  border-radius: 6px;
  /*border: 2px solid #575757;*/
  /* background-color: #444; */
}

.unsubscribe-button{
  padding: 8px 15px;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  border-radius: 6px;
  border: 2px solid #323232;
  background-color: rgba(0, 0, 0, 0);
}

.create-post-button{
  padding: 9px 15px;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  border-radius: 6px;
  border: 0;
  background-color: #A4288B;
}

.community-stats {
  padding: 2px 15px 2px 0;
}

.community-stats h6 {
  color: #838383;
  font-size: 12px;
  margin: 0;
  font-weight: 400;
}

.community-stats p {
  margin: 0;
  color: #BDBDBD;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
}

.community-stats-sidebar {
  margin-bottom: 0.25rem;
}

.community-sidebar-item {
  display: inline-block;
}

.report-handle-form {
  max-width: 400px;
  height: 50px;
}

.post-listing-box {
  background-color: #333333;
  border-radius: 4px;
  height: 50px
}

.dropdown-block {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #444;
  z-index: 4;
  opacity: 0.5;
}

.floating-container {
  display: block;
  z-index: 5;
  position: absolute;
  left: 123px;
  top: 50px;
  background-color: #2f2f37;
  width: 275px;
  border-radius: 7px;
}

.dropdown-content {
  padding: 2px 10px 5px;
}

.dropdown-categories {
  padding: 0px 10px 5px;
  max-height: 400px;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dropdown-categories::-webkit-scrollbar {
  display: none;
}

.community-icon {
  float: left;
  min-width: 20px;
  min-height: 20px;
  margin-right: 7px;
  border-radius: 3px;
}

.dropdown-content h6{
  font-size: 13px;
  color: #AAA;
  margin-bottom: 8px;
  margin-top: 12px;
}

.dropdown-content h5{
  font-size: 16px;
  font-weight: 700;
  margin: 5px 0;
  text-overflow: ellipsis;
}

.community-listing-title {
  color: #DDD;
  margin-left: 2px;
}

.community-listing-title:hover {
  color: #AAA;
  text-decoration: none;
}

.community-listing {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20px;
  margin-bottom: 7px;
}

.dropdown-filter {
  margin: 7px auto 10px;
  height: 35px;
  background-color: #1c1c21;
  border: 1px #42424c;
}

.dropdown-filter:focus {
  background-color: #27272C;
}

.dropdown-filter::placeholder {
  color: #555;
}

.dropdown-exit {
  display: none;
  float: right;
  width: 10px;
  margin-left: -12px;
}

.dropdown-subtext {
  font-size: 13px;
  color: #BBB;
  float: right;
  margin: 0 2px 2px 0;
  padding: 5px 0;
}

@media only screen and (max-width: 728px) {
  .dropdown-block{
    display: block;
  }

  .dropdown-exit{
    display: inline;
  }

  .floating-container {
    left: 50%;
    margin-left: -150px;
    top: 100px;
    width: 300px;
  }

  .dropdown-content {
    padding: 4px;
  }

  .dropdown-filter {
    height: 40px;
    margin-left: 2px;
  }

  .dropdown-categories {
    margin-top: 10px;
  }

  .community-listing {
    margin-bottom: 13px;
  }
}

.badge-pink {
  background-color: #DA1B9A !important;
}

.post-listing-details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 26px;
}

.inline-vote-details {
  /* margin-top: -2px; */
}

.post-title a:visited {
  color: #999 !important
}

.badge-light {
  background-color: var(--chapo-secondary);
  color: #fff;
  font-size: 12px;
}

.main-navbar {
  position: fixed;
  top: 0;
  /* background-color: #222; */
  /* padding: 0.5rem 1rem !important; */
  margin-top: 0 !important;
  z-index: 50;
}

.navbar-spacer {
  margin-bottom: 80px;
}

@media (max-width: 992px) {
  .navbar-spacer {
    margin-bottom: 65px;
  }
}

.nsfw-badge {
   background-color: var(--chapo-accent) !important;
   color: #333;
}

.custom-icon {
  height: 14px;
  width: 14px;
}

.stickied-border {
  border-right: 2px solid var(--chapo-success) !important;
}

.comment-badge {
  text-transform: uppercase;
  font-size: 10px !important;
  font-weight: bold;
  padding: 3px 5px;
}

@media only screen and (max-width: 992px) {
  .post-sidebar-container {
    width: 100%;
  }
}

.user-online-badge {
  display: flex;
  align-items: center;
}

.emoji-picker-container {
  position: absolute;
  top: 30px;
  z-index: 1000;
  transform: translateX(-50%);
}

@media only screen and (max-width: 992px) {
  .emoji-picker-container {
    width: 100vw;
    transform: translateX(0%);
    position: fixed;
    left: 0;
  }

  .emoji-picker-container > section {
    width: 100% !important;
  }
}

.click-away-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .3);
  z-index: 999;
}

[data-reach-combobox] {
}
[data-reach-combobox-input] {
}
[data-reach-combobox-popover] {
  border-color: #444;
  margin-top: 5px;
  border-radius: 2px;
  background-color: #444;
}
[data-reach-combobox-list] {

}
[data-reach-combobox-option] {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  /* color: #fff; */
}

[data-reach-combobox-option]:hover {
  background-color: var(--chapo-accent) !important;
  color: #fff;
}

[data-reach-combobox-option][data-highlighted] {
  background-color: var(--chapo-accent);
  color: #333;
}

[data-reach-combobox-button] {
}

/* the string portions that match what the user has typed */
[data-user-value] {
  color: #fff;
}
/* the string portions are suggested */
[data-suggested-value] {
}

.post-listing-button {
  padding: 0.25rem 0.5rem;
}

/* hide something, but still make it accessible for screen readers */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (max-width: 768px) {
  .user-settings-container {
    flex-direction: column-reverse;
  }
}

.btn-group>label:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group>label:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

button:hover [type="button"]:hover {
  cursor: pointer;
}

.mobile-vote-bar {
  display: none;
}

@media (min-width: 768px) {
  .only-mobile {
  display: none;
  }
}

/* post listing mobile styles */
@media (max-width: 768px) {
  .vote-bar {
    /* display: none; */
  }

  .only-desktop {
    display: none;
  }

  .mobile-vote-bar {
    display: flex;
    align-items: center;
  }

  .post-listing-row {
    /* flex-direction: row-reverse; */
    /* flex-direction: column-re; */
  }
}

[data-reach-menu-item][data-selected] {
  background: #666;
}

.collapsed-content {
  position: relative;
  max-height: 100px;
  overflow: hidden;
}

.collapsed-image {
  max-height: 300px;
}

.collapsed-content.expanded {
  overflow: initial;
  max-height: initial;
}

.collapsed-content:after {
  content:'';
  width:100%;
  height:100%;
  position:absolute;
  left: 0;
  top: 0px;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, transparent, #222);
  pointer-events: none;
}

.collapsed-image:after {
  top: 100px;
}

.collapsed-content.expanded:after {
  background-image: none;
}

.mobile-icon-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 2px;
  height: 34px;
  width: 34px;
  /* background: rgba(0,0,0,.4); */
  border-bottom-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.mod-log-filter-label {
  text-transform: capitalize;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.post-title-link {
  display: flex;
}

.post-listing-url {
  max-width: 80vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.post-link {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 80vw;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}

.main-spinner {
  animation: 1.25s linear 0s infinite normal none running spin;
}