.navbar-toggler {
  border: 0px;
}

.pointer {
  cursor: pointer;
}

.no-click {
  pointer-events:none;
  opacity: 0.65;
}

.upvote {
  /* margin-bottom: -5px; */
}

@media only screen and (min-width: 768px) {
  .upvote:hover {
   color: var(--info);
  }

  .downvote:hover {
    color: var(--danger);
  }
}

.downvote {
  /* margin-top: -10px; */
}

.md-div p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.md-div p:last-child {
  margin-bottom: 0px;
}

.md-div img {
  max-height: 40vh;
  max-width: 100%;
  height: auto;
}

.md-div h1,
.md-div h2,
.md-div h3,
.md-div h4,
.md-div h5 {
  font-size:1.171875rem;
}

.md-div table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid var(--dark);
}

.md-div table th,
.md-div table td {
  padding: 0.3rem;
  vertical-align: top;
  border-top: 1px solid var(--dark);
  border: 1px solid var(--dark);
}

.md-div table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid var(--dark);
}

.md-div table tbody + tbody {
  border-top: 2px solid var(--dark);
}

.vote-bar {
  margin-top: -6.5px;
}

.post-title {
  line-height: 1.0;
}

.icon {
  display: inline-flex;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: middle;
  align-self: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.icon-navbar {
  width: 1.5em;
  height: 1.5em;
}

.icon-inline {
  margin-bottom: 2px;
}

.spin {
  animation: spins 2s linear infinite;
}

@keyframes spins {
  0% { transform: rotate(0deg); }
  100% {  transform: rotate(359deg); }
}

.dropdown-menu {
  z-index: 2000;
}

blockquote {
  border-left: 2px solid var(--secondary);
  margin: 0.5em 5px;
  padding: 0.1em 5px;
}

.mouse-icon {
  margin-top: -4px;
}

.new-comments {
  max-height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.thumbnail {
  object-fit: cover;
  max-height: 80px;
  width: 100%;
}

svg.thumbnail {
  height: 40px;
}

.no-s-hows {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

hr {
  border-top: 1px solid var(--light);
}

.emoji {
  max-height: 1.2em !important;
}

.text-wrap-truncate {
  overflow: hidden;
  text-overflow: ellipsis
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fl-1 {
  flex: 1;
}

.img-blur {
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
}

.img-expanded {
  max-height: 90vh;
}

.btn-animate:active {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
}

.selectr-selected, .selectr-options-container {
  background-color: var(--secondary);
  color: var(--white);
  border: unset;
}

.mini-overlay {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
  height: 1.5em;
  width: 1.5em;
  background: rgba(0,0,0,.4);
  border-bottom-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.link-overlay:hover {
  transition: .1s;
  opacity: 1;
}

.link-overlay {
  transition: opacity .1s ease-in-out;
  position: absolute;
  opacity: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 10px;
  background: rgba(0,0,0,.6);
}

.placeholder {
  height: 50px;
  width: 50px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.list-inline-item-action {
  display: inline-block;
}

.list-inline-item-action:not(:last-child) {
  margin-right: 1.2rem;
}

pre {
  white-space: pre-wrap;
  word-break: keep-all;
}

.form-control.search-input {
  float: right !important;
  transition: width 0.2s ease-out 0s !important;
}

.show-input {
  width: 13em !important;

}
.hide-input {
  background: transparent !important;
  width: 0px !important;
  padding: 0 !important;
 }

br.big {
  display: block;
  content: "";
  margin-top: 1rem;
}

